{% extends 'mainapp/base.html' %}
{%load static%}

{% block css %}
    <link rel="stylesheet" href="{% static 'vendor/css/order.css' %}">
{% endblock %}

{% block content %}
    <div class="order-form">     
        <form action="{%url 'userapp:order' %}" method="POST">
            {% csrf_token %}
            {{order_form.non_field_errors}}
            {% for f in order_form %}
            <div>
                <label for="{f.id_for_label}">{{f.label}}</label>
                {{f}}
            </div>
            <div >
                {% if errors %}
                    {{f.errors}}
                {% endif %}
            </div>
            {% endfor %}
            
            <input type="submit" value='Подтвердить заказ'>
        </form>
    </div>
    <div class="cart">
    </div>
{% endblock %}