{%load static%}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
    {% block css %} {% endblock %}    
    <link rel="stylesheet" href="{% static 'vendor/css/goods.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/22cc80c21b.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
    <header>
        <a class="logo" href="/">
            <div>
                <img src="{% static 'vendor/img/logo-purple.png' %}">
            </div>
        </a>
        <form action="" class="search" id="search">
            <input type="text" class="search-box" placeholder="Искать здесь..." name="search_text">
            <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
        </form>

        <button class="search-open-btn" onclick="show_search()"><i class="fas fa-search"></i></button>


        <div onclick="show_favourite()" class="cart">
            <i class="fa-solid fa-heart"></i>
        </div>
        <div  onclick="show_cart()" class="cart">
            <i class="fas fa-shopping-cart fa-lg"></i>
        </div>
        <div onclick="open_popup()" class="user">
            <span ><i id="popup_but"class="fas fa-user fa-lg"></i></span>
            <dialog id="popup">
                <div class="login-popup">
                    <img class="login-logo" src="{% static 'vendor/img/logo-purple.png'%}">
                    {% if request.user.is_authenticated %}
                    <div class="popup-btns">    
                        <a href="{%url 'userapp:profile' %}"><img class="svg-icon" src="{% static 'vendor/svg/user-profile.svg' %}" alt="">Профиль</a>
                        <a href="{%url 'userapp:order_history' %}"><img class="svg-icon" src="{% static 'vendor/svg/cart-1.svg' %}" alt="">Заказы</a>
                        {% if request.user.is_staff %}
                        <a href="{%url 'admin:index' %}"><img class="svg-icon" src="{% static 'vendor/svg/lightbulb.svg' %}" alt="">Admin pannel</a>
                        {% endif %}
                        <a href="{%url 'userapp:logout' %}"><img class="svg-icon" src="{% static 'vendor/svg/undo.svg' %}" alt="">Выйти</a>

                    {% else %}
                    <form action="{% url 'goods' %}" method="POST">
                        <div class="popup-content">
                            {% csrf_token %}
                            <label for="id_username">Имя пользователя</label>
                            {{form.username}}
                            <label for="id_password">Пароль</label>
                            {{form.password}}
                        </div>
                            <input type="submit" class="submit-lf">
                    </form>
                    <a href="http://127.0.0.1:8000/accounts/github/login/?process=login">GitHub</a>
                    <a href="{%url 'userapp:registration'%}">
                        <p>Регистрация</p>
                    </a>
                    {% endif %}
                </div>
            </dialog>
        </div>
    </header>
    <div onclick="close_search()">
    {% block content %} {% endblock %}
    </div>
    {% include 'mainapp/cart.html' %}
    {% include 'mainapp/favourite.html' %}
    <script src="{% static 'vendor/js/script.js' %}"></script>
</body>
<script type="text/javascript">
    get_total_cart_sum()
    $('#cart-menu').on('click', '.remove-product', function (e) {
        e.preventDefault();
        $.ajax({
            type:'GET', 
            url:'/user/remove-from-cart/'+ e.currentTarget.id,
            success:function (data) {
                if (data['new_quantity'] > 0) {
                    $(`#p-${e.currentTarget.id}`).html(data['new_quantity'])

                    get_total_cart_sum()
                }
                else {
                    $(`#cart-position-${e.currentTarget.id}`).remove()
                    $('.total-price').remove()
                    $('.order-btn').remove()
                }
                
            }
        })
    })

    $('#cart-menu').on('click', '.add-product', function (e) {
        e.preventDefault();
        $.ajax({
            type:'GET', 
            url:'/user/add-to-cart-btn/'+ e.currentTarget.id,
            success:function (data) {
                $(`#p-${e.currentTarget.id}`).html(data['new_quantity'])
                get_total_cart_sum()
            }
        })
    })

    function get_total_cart_sum(){
        $.ajax({
            type: 'GET',
            url: "{%url 'userapp:get_total_cart_sum'%}",
            success: function (data){
                $('#total_sum').html("Итого: " + data['total_sum'])
            }
        })
    }
</script>
</html>