<div class="cart-screen" id="cart-screen" onclick="close_cart()">
</div>
<div class="cart-menu" id="cart-menu">
    {% for cart in carts %}
    <div class="cart_position" id="cart-position-{{cart.id}}">
        {{cart.product.name}}
        {{cart.id}}
        <div class="remove-product" id="{{cart.id}}">
            <i class="fas fa-minus-circle"></i>
        </div>
        <p id="p-{{cart.id}}">{{cart.quantity}}</p>
    </div>
    {%endfor%}
    <p>{{carts.0.total_sum}}</p>
    <a href={%url 'userapp:order'%}> оформить заказ </a>
</div>